.viewport {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.media-container {
  width: 100%;
  height: 100%;
}

.video {
  object-fit: cover;
  display: block;
}

.incomes__container {
  position: absolute;
  width: 30vw;
  height: 30vh;
  min-height: 10rem;
  min-width: 10rem;
  top: 1rem;
  right: 1rem;
}

.control-pane {
  z-index: 1000;
  position: absolute;
  bottom: 2rem;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-pane {
  z-index: 1000;
  position: absolute;
  left: 2rem;
  top: 2rem;
  opacity: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s linear;

  .settings-icon {
    transition: transform 0.5s ease-out;
    transform: rotate(0deg);
  }

  &.active,
  &:hover {
    opacity: 1;
  }

  &.active {
    .settings-icon {
      transform: rotate(180deg);
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(180deg);
  }
}

.dropdown-menu {
  position: relative;

  .dropdown {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 0.5s ease-out;

    &.dropdown-enter-active,
    &.dropdown-enter-done {
      opacity: 1;
      transform: translate(-50%, 0.5rem);
    }

    &.dropdown-exit-done {
      @extend .hidden;
    }
  }
}

.hidden {
  display: none;
}

.btn {
  border: none;
  display: flex;
  width: 3em;
  height: 3em;
  cursor: pointer;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);

  &:hover {
    .icon {
      fill: var(--font-color-highlight);
    }
  }
}

.btn-small {
  @extend .btn;
  font-size: 0.625rem;
}

.btn-prime {
  @extend .btn;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.125rem;
}

.btn-secondary {
  @extend .btn;
}

.settings-btn {
  @extend .btn-secondary;
}

.theme-toggle-btn {
  @extend .btn-secondary;
}

.hang-up-btn,
.start-btn {
  @extend .btn-prime;
}

.call-btn {
  @extend .btn-prime;
  background-color: var(--color-primary);

  &.stop {
    background-color: var(--color-primary-accent);
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--color-primary-lowlight);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  padding: 1rem;

  &__close-btn {
    @extend .btn-small;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
  }

  &__dialog {
    position: relative;
    width: auto;
    pointer-events: none;
    height: 100%;
    background-color: var(--color-accent);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: 0.3rem;
    outline: 0;
    max-height: 100%;
    overflow: hidden;
    padding: 2rem 0.5rem 0.5rem
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
  }
}

.table {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  th,
  td {
    padding: 0.5em;
    width: calc(100% / 4);
  }

  td {
    border-top: 1px solid var(--color-secondary);
  }

  &__footer {
    border-top: 2px solid var(--color-secondary);
  }
}

.remove-history-btn {
  @extend .btn-small;
  margin: auto;
}

.icon {
  fill: var(--font-color);
}

.full-size {
  width: 100%;
  height: 100%;
}

.rounded-0 {
  border-radius: 0.5rem;
}

.rounded-1 {
  border-radius: 1rem;
}

.rounded {
  border-radius: 50%;
}
